.bg-image {
  width: 100%;
  height: 44.7rem;
}

.bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.outer-box {
  content: "";
  width: 100%;
  top: 0rem;
  height: 44.7rem;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(95, 231, 80, 0.3);
}

.outer-box h1 {
  word-spacing: 0.1rem;
  letter-spacing: 0.2rem;
  font-family: var(--noto-sans-font);
}
.outer-box h6 {
  word-spacing: 0.1rem;
  letter-spacing: 0.2rem;
  font-family: var(--noto-sans-font);
}
